src/main/app/customerService-types.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"  xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <flow name="createCustomer">
        <logger message="START: createCustomer" level="INFO" doc:name="Start Log"/>
        <custom-transformer class="org.mule.module.apikit.transform.PayloadNormalizerTransformer" doc:name="Parse Object to Java"/>
        <expression-component doc:name="Call Java Method"><![CDATA[app.registry['customerService-bean'].createCustomer(payload);]]></expression-component>
        <set-payload value="{ &quot;message&quot;: &quot;The customer has been succesfully created.&quot; }" doc:name="Set Payload"/>
        <logger message="#['END: createCustomer\n' + payload]" level="INFO" doc:name="End Log"/>
    </flow>
     <flow name="getCustomers">
        <logger message="START: getCustomersFlow" level="INFO" doc:name="Start Log"/>
        <ee:cache cachingStrategy-ref="CustomerService-caching-Strategy" doc:name="Cache">
            <expression-component doc:name="Call Java Method"><![CDATA[payload = app.registry['customerService-bean'].getCustomers();]]></expression-component>
        </ee:cache>
        
        <logger message="#['END: getCustomers']" level="INFO" doc:name="End Log"/>
    </flow>
    <flow name="getCustomer">
        <logger message="START: getCustomer" level="INFO" doc:name="Start Log"/>
        <expression-component doc:name="Call Java Method"><![CDATA[payload = app.registry['customerService-bean'].getCustomer(customerID);]]></expression-component>
        <logger message="#['END: getCustomer']" level="INFO" doc:name="End Log"/>
    </flow>    
    <flow name="updateCustomer">
        <logger message="START: updateCustomer" level="INFO" doc:name="Start Log"/>
        <custom-transformer class="org.mule.module.apikit.transform.PayloadNormalizerTransformer" doc:name="Parse Object to Java"/>
        <expression-component doc:name="Call Java Method"><![CDATA[app.registry['customerService-bean'].updateCustomer(customerID, payload);]]></expression-component>
        <set-payload value="{ &quot;message&quot;: &quot;The customer has been succesfully updated.&quot; }" doc:name="Set Payload"/>
        <logger message="#['END: updateCustomer\n' + payload]" level="INFO" doc:name="End Log"/>
    </flow>
    <flow name="deleteCustomer">
        <logger message="START: deleteCustomer" level="INFO" doc:name="Start Log"/>
        <expression-component doc:name="Call Java Method"><![CDATA[payload = app.registry['customerService-bean'].deleteCustomer(customerID);]]></expression-component>
        <set-payload value="{ &quot;message&quot;: &quot;The customer has been succesfully deleted.&quot; }" doc:name="Set Payload"/>
        <logger message="#['END: deleteCustomer\n' + payload]" level="INFO" doc:name="End Log"/>
    </flow>   
</mule>
